<app-navbar></app-navbar>
<div class="my-3 mx-auto">
    <h3>Liste des clients :</h3>
  </div>



<table class="table table-bordered">
  <thead class="bg-info text-center">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Email</th>
      <th scope="col">Adresse</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of client">
      <th scope="row">{{c.id}}</th>
      <td>{{c.prenom}}</td>
      <td>{{c.ville}}</td>
      <td>{{c.adresse}}</td>
      <td>
        <button class="btn btn-danger  btn-sm btn-block m-2" (click)="deleteClient(c.id)">Supprimer</button>
        <button class="btn btn-warning btn-sm btn-block m-2" [routerLink]="['/modifierClient' ,c.id]">Modifier</button>
        <button class="btn btn-success btn-sm btn-block" [routerLink]="['/listComptes' ,c.id]">Comptes</button>
      </td>
    </tr>
  </tbody>
</table> 